<h1>About</h1>
<h2 class="w3-large">Welcome to my book-selling website!</h2>

<button onclick="toggleSectionFunction('history')" class="w3-btn w3-block w3-green w3-left-align">About our products</button>
    <div id="history" class="w3-container w3-hide">
      <p>Duis dapibus ex at ipsum dignissim vulputate. Curabitur eros justo, lacinia ut ipsum nec, dapibus scelerisque est. Aenean ut posuere tellus. Duis dapibus mattis tristique. Nunc placerat consequat sem, sit amet pretium leo viverra a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean mattis leo sapien, nec fringilla massa maximus in. Phasellus vel iaculis ante. Proin dapibus nulla non ullamcorper laoreet. Praesent maximus iaculis leo, sed sagittis sem sollicitudin at. Pellentesque gravida sagittis elit, a luctus turpis cursus eget. In diam elit, laoreet et sagittis sed, tincidunt at ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque consequat, leo sed blandit vehicula, elit metus rhoncus sapien, vel semper lectus nisl malesuada odio.</p>
    </div>

<button onclick="toggleSectionFunction('hobbies')" class="w3-btn w3-block w3-green w3-left-align">Our Mission</button>
    <div id="hobbies" class="w3-container w3-hide">
      <p>Ut semper consectetur diam, non condimentum ipsum sagittis nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel odio velit. Praesent vulputate ullamcorper fringilla. Fusce non egestas lorem, sed pharetra mi. Sed ornare et sem ut blandit. Ut eget nibh malesuada mi aliquam semper. Etiam sed leo neque. Curabitur facilisis libero ac fermentum faucibus. Phasellus hendrerit lorem justo, vel sagittis ex egestas sed. Praesent eu metus aliquet, venenatis nisl vitae, auctor elit. Pellentesque ante risus, sagittis ut orci vitae, malesuada feugiat est. Donec efficitur mollis turpis, quis ultrices ligula pharetra nec. Curabitur elementum aliquam tellus. Mauris gravida finibus efficitur.</p>
    </div>

<script>
function toggleSectionFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>