<h1>Help</h1>
<h2 class="w3-large">Welcome to the help page. Below you'll find out FAQ. If your question is not included below please contact us at admin@example.com</h2>

<ol>
<li>
<button onclick="toggleSectionFunction('q1')" class="w3-btn w3-block w3-green w3-left-align" style="width:85%">Lorem Ipsum</button>
    <div id="q1" class="w3-container w3-hide">
      <p style="width:80%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a mi a dui scelerisque pellentesque. Quisque varius consectetur purus, nec cursus nulla laoreet id. Quisque at ornare turpis, dignissim mattis ante. Curabitur blandit ornare urna ut euismod. Nullam ut eros ac dolor tincidunt luctus eget nec augue. Vestibulum cursus dolor quis sapien egestas suscipit. Morbi eu turpis euismod erat consequat pellentesque sed non arcu. Integer maximus mauris eget ipsum ultricies, vel posuere nunc posuere. Praesent fringilla mauris augue, in posuere dolor fringilla a. Nam tempus feugiat eros quis tristique. Maecenas finibus laoreet lacus ut consectetur. Aliquam a mauris eget metus eleifend sagittis vitae semper odio. </p>
    </div>
</li>

<li>
<button onclick="toggleSectionFunction('q2')" class="w3-btn w3-block w3-green w3-left-align" style="width:85%">Ut gravida</button>
    <div id="q2" class="w3-container w3-hide">
        <p style="width:80%">Ut gravida ac quam aliquam iaculis. Curabitur tincidunt sem justo, fermentum aliquam lectus ullamcorper eu. Aenean nec maximus magna, quis consequat leo. Sed quis finibus lacus. Sed convallis eget odio nec congue. Fusce aliquet dolor nec libero sodales semper. Aenean at nisi leo. Morbi eu neque in libero malesuada porttitor eget ut nisi. In a ex sit amet nunc tempor dignissim maximus in odio. Nullam egestas orci id nulla laoreet bibendum non nec nunc. Sed cursus nibh quis cursus commodo. Suspendisse eu cursus enim, fermentum tempor purus. Nunc tempus dui massa, eget interdum arcu porta ut. </p>
    </div>
</li>

<li>
<button onclick="toggleSectionFunction('q3')" class="w3-btn w3-block w3-green w3-left-align" style="width:85%">Morbi tempor</button>
    <div id="q3" class="w3-container w3-hide">
        <p style="width:80%">Morbi tempor rutrum odio, et feugiat odio lacinia vitae. Quisque vel ultricies libero, eleifend finibus nunc. Nam in velit viverra, posuere orci a, viverra lorem. Nunc magna magna, pulvinar eu consequat at, facilisis eu lorem. Etiam euismod purus vel odio suscipit, ut elementum lectus venenatis. Pellentesque tincidunt odio nibh, vel consectetur mauris ultricies eu. Integer maximus orci orci, a faucibus magna rutrum nec. </p>
    </div>
</li>

<li>
<button onclick="toggleSectionFunction('q4')" class="w3-btn w3-block w3-green w3-left-align" style="width:85%">Duis dapbius</button>
    <div id="q4" class="w3-container w3-hide">
        <p style="width:80%">Duis dapibus ex at ipsum dignissim vulputate. Curabitur eros justo, lacinia ut ipsum nec, dapibus scelerisque est. Aenean ut posuere tellus. Duis dapibus mattis tristique. Nunc placerat consequat sem, sit amet pretium leo viverra a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean mattis leo sapien, nec fringilla massa maximus in. Phasellus vel iaculis ante. Proin dapibus nulla non ullamcorper laoreet. Praesent maximus iaculis leo, sed sagittis sem sollicitudin at. Pellentesque gravida sagittis elit, a luctus turpis cursus eget. In diam elit, laoreet et sagittis sed, tincidunt at ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque consequat, leo sed blandit vehicula, elit metus rhoncus sapien, vel semper lectus nisl malesuada odio. </p>
    </div>
</li>

<li>
<button onclick="toggleSectionFunction('q5')" class="w3-btn w3-block w3-green w3-left-align" style="width:85%">Ut semper</button>
    <div id="q5" class="w3-container w3-hide">
        <p style="width:80%">Ut semper consectetur diam, non condimentum ipsum sagittis nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel odio velit. Praesent vulputate ullamcorper fringilla. Fusce non egestas lorem, sed pharetra mi. Sed ornare et sem ut blandit. Ut eget nibh malesuada mi aliquam semper. Etiam sed leo neque. Curabitur facilisis libero ac fermentum faucibus. Phasellus hendrerit lorem justo, vel sagittis ex egestas sed. Praesent eu metus aliquet, venenatis nisl vitae, auctor elit. Pellentesque ante risus, sagittis ut orci vitae, malesuada feugiat est. Donec efficitur mollis turpis, quis ultrices ligula pharetra nec. Curabitur elementum aliquam tellus. Mauris gravida finibus efficitur. </p>
    </div>
</li>
</ol>

<script>
function toggleSectionFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>