<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user), class:"w3-button w3-orange" %> |
<%= link_to 'Back', users_path, class:"w3-button w3-blue" %>